<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
>


  <targets>

    <target name="console" xsi:type="ColoredConsole" layout="${date:format=dd-MM-yyyy HH\:mm\:ss} - ${message}" />
    <target name="FullCSVFile" xsi:type="File"  fileName="./logs/${shortdate}.log"/>
    <layout xsi:type="CsvLayout">
      <column name="Index" layout="${counter}" />
      <column name="ThreadID" layout="${threadid}" />
      <column name="Time" layout="${longdate}" />
      <column name="Severity" layout="${level:uppercase=true}" />
      <column name="Location" layout="${callsite:className=False:fileName=True:includeSourcePath=False:methodName=False}" />
      <column name="Detail" layout="${message}" />
      <column name="Exception" layout="${exception:format=ToString}" />
    </layout>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="FullCSVFile" />
  </rules>
</nlog>
